/*------------------------
addMe_style.css 


1.3
add Fluid Width Equal Height Columns 
2/6/2017 2:33:08 PM

1.2 add waypoint sub menu follow 


1.1 add css cube face changes
1/23/2017 2:57:32 PM

1.0 add animated Preloader css 
1/23/2017 1:24:07 PM

------------------------*/


/* main.css !360 */
.heading { 
    text-align: center; 
    color: #f21; 
    /* text-shadow: 2px 2px 1px #111; */
}
/* .heading h2 {
color: #f00;
} /* */

/* fixMe_main.css !930 */
.mrg-vertical-30 { 
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    height: inherit
}

/* fixMe_main.css !3019 */
.menu-sticky .brand-logo img, 
.menu-sticky .navbar-toggle {
	/* margin-left: -23px; /* new test */
	margin-top: 5px;/* new test */
  height: 45px !important /* 75px ori */
}

/* fixMe_main.css !3085 */ 
.main-nav.menu-light .inner-nav > ul > li > a:hover,
.main-nav.menu-light .inner-nav > ul > li > a:focus,
.main-nav.menu-light .navbar-toggle i:hover,
.main-nav.top-nav.menu-light .inner-nav > ul > li.active > a {
    color: #F00; /* fix op-nav to meme this highlight selected menu */
    text-shadow: 2px 2px 1px #CCC;
    /* font-weight: bold  /* */
}


/* 1.3 */

#page-wrap { width: 80%; margin: 60px auto; }
#page-wrap > div { margin: 0 0 50px 0; min-width: 500px; width: 100%; }

.group:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.group { display: inline-block; }

#nicolas-gallagher {
			position: relative; 
			background: #eee; 
			z-index: 1; 
			width: 100%; 
		}
		#nicolas-gallagher .col { 
			position: relative; 
			width: 27%; 
			padding: 3%; 
			float: left; 
		}
		#nicolas-gallagher .col:nth-child(1) { left: 33%; }
		#nicolas-gallagher .col:nth-child(2) { left: -33.3%; }
		#nicolas-gallagher .col:nth-child(3) { left: 0; }
		#nicolas-gallagher:before, #nicolas-gallagher:after {
		   content: "";
		   position: absolute;
		   z-index: -1;
		   top: 0;
		   left: 33.4%;
		   width: 33.4%;
		   height: 100%;
		   background: #ccc;
		}
		#nicolas-gallagher:after {
		   left: 66.667%;
		   background: #eee;
		}


/* 1.2 */



/* 1.1 */

.loader span {
	font-family: "Montserrat", Helvetica, sans-serif;
    position: absolute;
	font-weight: normal;
    top: 52%;
    font-size: 30px;
    letter-spacing: 10px;
    margin-left: -140px;
    left: 50%;
	margin-top: 20px;
    color: #212121;
}

.loader-style-1.panelLoad .cube-face {
    color: Black;
    box-shadow: inset 0 0 0 1px #222, 0 0 1px 1px #222;
}

/* 1.0 Preloader */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}